.message {
    margin: 25px 0;
    width: fit-content;
    text-align: left !important;
    
}

.message__h5 {
    margin: 0 0 5px 8px;
    text-align: left;
}

.message__user {
    margin-left: auto;
}

.message__userCard {
    background-color: #3b7fe6 !important;
    color: rgb(255, 255, 255) !important;
    border-radius: 10px !important;
    
}

.message__guestCard {
    background-color: #88f1ff !important;
    color: rgb(0, 0, 0) !important;
    border-radius: 10px !important;
}

.card__content{
    padding: 10px !important;
}