.App {
    font-family: sans-serif;
    text-align: center;
    padding-top: 20px;
  
  }
  
  .app__form {
    padding: 10px;
    position: sticky;
    bottom: 0;
    width: 94vw;
    margin: 0 auto;
    background: linear-gradient(to right, #36d1dc, #5b86e5);
  }
  
  .chat_wrapper {
    padding: 5px 4vw;
  }
  
  .app__formControl {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
  }
  
  .app__input {
    flex: 1;
  }
  
  .app__iconButton {
    flex: 0;
    padding: 8px !important;
    margin-left: 8px !important;
  }
  
  .form__wrapper {
    filter: blur(8px);
  }
  
  svg{
    margin-top: 10px;
  }
  
  
  @-moz-keyframes rotating {
    from {
      -moz-transform: rotate(0deg);
    }
  
    to {
      -moz-transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes rotating {
    from {
      -webkit-transform: rotate(0deg);
    }
  
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @keyframes rotating {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .react_logo {
    -ms-zoom-animation: rotating 3s linear infinite;
    -moz-animation: rotating 3s linear infinite;
    -webkit-animation: rotating 3s linear infinite;
    animation: rotating 3s linear infinite;
  }